*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

#nav{
    width: 100%;
    padding: 2vw 2vw;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.nav-part2 h4{
    padding: 10px 20px;
    border: 1px solid rgba(182, 177, 177, 0.719);
    border-radius: 50px;
    font-weight: 500;
    color: #292929;
    font-size: 18px;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
}

.nav-part2 h4::after{
    content: "";
    position: absolute;
    background-color: #000;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;

}

.nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
}

.nav-part2 h4 a{
    text-decoration: none;
    color: #000000bb;
    z-index: 9;
    position: relative;
}

.nav-part2 h4 a:hover{
    color: #fff;
}

#center{
    height: 65vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2.5vw;
}

#center h1{
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}

#left h3{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

#page1 video{
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
    position: relative;
}

#hero-shape{
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 65vh;
}

#hero1{
    background-color: orangered;
    filter: blur(10px);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    position: absolute;
    height: 100%;
    width: 100%;
}
#hero2{
    background: linear-gradient(#fe320a,#fe570a);
    filter: blur(25px);
    border-radius: 50%;
    position: absolute;
    height: 30vw;
    width: 30vw;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
#hero3{

    background: linear-gradient(#fe320a,#fe570a);
    filter: blur(25px);
    border-radius: 50%;
    position: absolute;
    height: 30vw;
    width: 30vw;
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes anime1{
    from{
        transform: translate(55%,-3%);
    }
    to{
        transform: translate(0%,-10%);
    }
}

@keyframes anime2{
    from{
        transform: translate(5%,-5%);
    }
    to{
        transform: translate(20%,20%);
    }
}